<div id="<%= dom_id has_dog %>">
  <p>
    <strong>Role:</strong>
    <%= has_dog.role %>
  </p>

  <p>
    <strong>Start-Node:</strong>
    <%= has_dog.start_node.display %>
  </p>

  <p>
    <strong>End-Node:</strong>
    <%= has_dog.end_node.display %>
  </p>
</div>
