<div id="<%= dom_id people_has_cat %>">
  <p>
    <strong>Role:</strong>
    <%= people_has_cat.role %>
  </p>

  <p>
    <strong>Start-Node:</strong>
    <%= people_has_cat.start_node.display %>
  </p>

  <p>
    <strong>End-Node:</strong>
    <%= people_has_cat.end_node.display %>
  </p>
</div>
